.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 100px;
    padding: 0px 10px;
    
}

.logo{
   
width: 130px;


}
.nav-items > ul{
    display: flex;
    list-style-type: none;
   
   
}

.nav-items > ul >li{
   padding: 10px;
    margin: 10px;
    font-size: 22px;
    font-weight: 600;
    color: rgb(86, 84, 84);
    
}

.top-rated-restro-btn{
 padding: 8px;
 margin: 15px;
 cursor: pointer;
}

.restro-container{
    display: flex;
    flex-wrap: wrap;  
}
.res-card{
    overflow: hidden;
    border-radius: 20px;
    
    width:240px;
    border: 1px solid black;
    margin: 10px 10px;

}
.card-image{
    height: 240px;
    width:240px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    padding-left:6px ;
    
}
.sub-title{
    font-weight: 600;
    font-size: 16px;
    color: rgb(32, 31, 31);
    margin-top: 5px;
    padding-left:6px ;
}
.res-info{
    padding-top: 3px;
    margin-bottom: 5px;
    padding-left:6px ;
}

.shimmer-container{
display: flex;
flex-wrap: wrap;
}

.shimmer-cards{
    border-radius: 15px;
    background-color: rgb(233, 223, 223);
    height: 280px;
    width:230px;
    margin: 10px 10px;
}